services:
  db:
    image: postgres:16.11-alpine3.23
    restart: always
    ports:
      - '5432:5432'
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - terrys6-data:/var/lib/postgresql/data

  backend:
    build: ./backend
    depends_on:
      - db
    ports:
      - '8000:8000'
    env_file:
      - .env
    volumes:
      - ./backend:/terrys6/backend


volumes: 
  terrys6-data:
